[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "vendor/github.com/tarm/serial"]
	path = vendor/github.com/tarm/serial
	url = https://github.com/tarm/serial
[submodule "vendor/github.com/jacobsa/go-serial"]
	path = vendor/github.com/jacobsa/go-serial
	url = https://github.com/jacobsa/go-serial
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
